.infor-customer {
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 30px;
    background: white;
    height: 530px;
}

    .infor-customer > h4 {
        padding: 18px 0px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
        border-bottom: 1px solid #777;
    }

.order-detail {
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 30px;
    background: white;
}

.infor-order {
    height: 150px;
    margin-bottom: 30px;
    overflow-y: auto;
}

.infor-order-detail {
    display: flex;
    justify-content: space-between;
}

.fa-times {
    color: #000;
}

.row_infor-link {
    list-style: none;
    text-decoration: none;
    color: black;
    text-transform: none;
}
