@using AnBinhMarket.Data

@{
    ViewBag.Title = "SPBanChayNhat";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@inject ApplicationDbContext db
@section styles{
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/Asset/css/bootstrap-datetimepicker.min.css" />
    <!-- Datatables CSS -->
    <link rel="stylesheet" href="~/Asset/plugins/datatables/datatables.min.css" />
    <link href="~/Asset/css/material-dashboard.css" rel="stylesheet" />
}
<!-- Start alert -->
<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col">
                <h3 class="page-title">Top 5 sản phẩm bán chạy nhất</h3>
            </div>
            <div class="col-auto">
                <a href="@Url.Action("Index", "Manage")"
                   class="btn btn-primary ml-3">
                    Trở về trang thống kê
                </a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Start alert -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div style="display: none" id="deletee" class="alert alert-danger text-center" role="alert"></div>
        </div>
        <div class="col-4"></div>

    </div>
    <!-- End alert -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        @{
                            var query = (from sanpham in db.SanPhams
                                         let tongSl = (from cthd in db.ChiTietGioHangs
                                                       join hd in db.HoaDons on cthd.MaGioHang equals hd.MaGioHang
                                                       where cthd.MaSP == sanpham.Id
                                                       select cthd.SoLuong
                                                       ).Sum()
                                         where tongSl > 0
                                         orderby tongSl descending
                                         select new
                                         {
                                             sanpham.MaSP,
                                             sanpham.TenSP,
                                             sanpham.Gia,
                                             SoLuongBan = tongSl
                                         }
                                         ).Take(5);

                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>

                                        <th>Tên thương hiệu</th>
                                        <th>Giá</th>
                                        <th class="text-right">Tổng số lượng bán</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in query)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.TenSP)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Gia)</td>
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.SoLuongBan)</td>
                                        </tr>

                                    }
                                </tbody>

                            </table>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




