@using AnBinhMarket.Data
@using AnBinhMarket.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signinManager
@inject UserManager<ApplicationUser> userManager
@inject ApplicationDbContext _context
@{
    var diachis = _context.DiaChiGiaoHangs.ToList();
    var selectedList = new List<SelectListItem>();
    foreach (var item in diachis)
    {
        selectedList.Add(new SelectListItem()
                {
                    Text = item.DiaChi,
                    Value = item.PhiShip.ToString()
                });
    }
    var renderSelectList = new SelectList(selectedList, "Value", "Text");
}
<style>
    label {
        text-align: left
    }
</style>
@if (signinManager.IsSignedIn(User))
{
    {
        var userId = userManager.GetUserId(User);
        if (userId != null)
        {
            var currentUser = _context.Users.FirstOrDefault(x => x.Id == Guid.Parse(userId));
            <div class="form-group">
                <label>Họ và tên</label>
                <input type="text" name="firstname" disabled id="firstname" value="@currentUser?.HoTen" class="form-control bg-white" placeholder="Họ tên*" />
            </div>
            <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" id="mobile" disabled name="mobile" value="@currentUser?.PhoneNumber" class="form-control bg-white" placeholder="Số điện thoại*" />
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" id="address" disabled name="address" value="@currentUser?.DiaChi" class="form-control bg-white" placeholder="Dia chi*" />
            </div>
            <hr />
            <div class="form-group">
                <label>Địa chỉ giao hàng</label>
                <textarea class="form-control bg-white" style="height:50px" id="DcNhanHang" name="DcNhanHang" placeholder="Địa chỉ giao hàng*"></textarea>
                <label>Quận</label>
                @Html.DropDownList("DiaChiGiaoHang",renderSelectList, "Chọn quận ",new { @class = "form-control", @onchange= "SelectItem(this)" } )

            </div>

            <div class="form-group">
                <textarea class="form-control bg-white" style="height:100px" id="GhiChu" name="GhiChu" placeholder="Ghi chú*"></textarea>
            </div>
        }
        else
        {
            @* <div class="form-group">
                <input type="text" name="firstname" id="firstname" class="form-control bg-white" placeholder="Họ tên*" />
                </div>
                <div class="form-group">
                <input type="number" id="mobile" name="mobile" class="form-control bg-white" placeholder="Số điện thoại*" />
                </div>
                <div class="form-group">
                <input type="email" name="Email" id="txtEmail" class="form-control bg-white" placeholder="Email*" />
                </div>
                <div class="form-group">
                <input type="text" name="DiaChi" id="txtAddress" class="form-control bg-white" placeholder="Địa chỉ*" />
                </div>
                <div class="form-group">
                <textarea class="form-control bg-white" name="NoiDung" id="txtContent" placeholder="Nhập nội dung*" rows="3"></textarea>
                </div>*@
        }
    }

}
else
{
    @*    <div class="form-group">
        <input type="text" name="Ten" id="txtName" class="form-control bg-white" placeholder="Họ tên*" />
        </div>
        <div class="form-group">
        <input type="number" name="SoDT" id="txtPhone" class="form-control bg-white" placeholder="Số điện thoại*" />
        </div>
        <div class="form-group">
        <input type="email" name="Email" id="txtEmail" class="form-control bg-white" placeholder="Email*" />
        </div>
        <div class="form-group">
        <input type="text" name="DiaChi" id="txtAddress" class="form-control bg-white" placeholder="Địa chỉ*" />
        </div>
        <div class="form-group">
        <textarea class="form-control bg-white" name="NoiDung" id="txtContent" placeholder="Nhập nội dung*" rows="3"></textarea>
        </div>*@
}

