@section styles{
    <link href="~/css/custom/contact2.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/js/custom/contact.js"></script>
}

<section class="section">
    <div class="container bg-white my-2 py-3">
        <div class="row">
            <div class="col-lg-6 contact">
                <h3 class="content-title">Mọi thắc mắc ý, kiến đóng góp vui lòng liên hệ:</h3>
                <div class="row">
                    <span>
                        <i class="icofont-ui-touch-phone"></i> Số điện thoại: 1900 63 69 07
                    </span>
                    <span>
                        <i class="fas fa-envelope"></i> Email: hi@anbinhsmarket.vn
                        <hr />
                    </span>

                </div>
                <div class="row">
                    <h5 class="title-contactus">LIÊN HỆ VỚI CHÚNG TÔI</h5>
                    <form class="user-form">
                        @await Component.InvokeAsync("_DC_LienHe")
                    </form>
                    <div class="form-button">
                        <button id="btnSend">Gửi liên hệ</button>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="row my-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.931417039701!2d106.70335971382211!3d10.739769262808313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ffecb45d239%3A0x5d4793b3775672ca!2zRmFybWVy4oCZcyBNYXJrZXQgUXXhuq1uIDc!5e0!3m2!1svi!2s!4v1632555327937!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

