@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    li {
        display: list-item !important;
        margin-left: 50px
    }

    ol {
        
        list-style-type: upper-greek;
    }
    p>img{
        padding: 20px
    }
</style>

<div class="container wrapbox-content-page">
    <div class="content-page">
        <p>&nbsp;</p>
        <h1 style="text-align: center;"><strong>Về chúng tôi</strong></h1>
        <h2 style="text-align: center;">&nbsp;</h2>
        <blockquote>
            <h2 style="text-align: center;">An Bình Market – Dinh dưỡng an toàn từ mẹ thiên nhiên</h2>
            <p style="text-align: center;">“Ăn no mặc ấm, ăn ngon mặc đẹp - Ăn khỏe, dáng xinh mặc gì cũng đẹp”</p>
        </blockquote>
        <p>
            Thấu hiểu&nbsp;những căng thẳng và áp lực vô hình mà chúng ta phải đối mặt trong kỷ nguyên Số, An Bình Market kết tinh những món quà mà mẹ thiên nhiên ban tặng thành những nguồn thực phẩm sạch, an toàn giúp tăng cường, cải thiện
            sức khỏe tinh thần lẫn thể chất của con người mỗi ngày.
        </p>
        <p style="text-align: center;"><img src="//file.hstatic.net/200000201045/file/san_pham_an_lien_-2_f70591ff30fa4553af3bee109148bfcc_grande.png" /></p>
        <hr />
        <h3><strong>Sự ra đời của An Bình Market</strong></h3>
        <p>Vào những tháng cuối năm 2014, vì lợi ích cộng đồng, khẩu hiệu Dinh dưỡng “An toàn” từ mẹ “thiên Nhiên” đã tạo nên thương hiệu An Bình.</p>
        <p>Với định hướng tiếp cận thị trường bằng chất lượng và vệ sinh an toàn thực phẩm. An Bình Market nhanh chóng tạo dựng được uy tín, niềm tin, từng bước khẳng định vị trí thương hiệu trong lòng người tiêu dùng.</p>

        <p style="text-align: center;"><img src="//file.hstatic.net/200000201045/file/img_1833_9bf3d3e111cd4a369b30dd8db2df72d2_grande.jpg" /></p>
        <hr />
        <h3>
            <strong><em>Thực phẩm đạm thực vật sấy khô&nbsp; (Textured Vegetable Protein - TVP )</em></strong>
        </h3>
        <p>
            Là dòng sản phẩm chủ lực của An Bình Market với nhiều hình dáng, màu sắc và mùi vị đa dạng gồm 2 nhóm Đạm thực vật sấy khô:<br />
            - &nbsp;Gốc Đạm đậu nành: Sườn non chay, Bò lát chay, Gà lát chay..vv<br />
            -&nbsp; Gốc Đạm lúa mạch: Sườn non Lúa Mạch Chạy, Sườn ống Lúa Mạch Chay.
        </p>
        <p style="text-align: center;"><img src="//file.hstatic.net/200000201045/file/img_1465_cbfac49bac29410ab2661ef998503890_grande.jpg" /></p>
        <h3>
            <em><strong>Sản phẩm ăn liền ( Ready-to-eat products)</strong></em>
        </h3>
        <p>
            Là dòng sản phẩm được mọi lứa tuổi ưa thích, được các bạn trẻ giới văn phòng hay đến các cụ ông cụ bà cũng khó cưỡng trước độ giòn tan và mùi thơm đặc biệt của các sản phẩm bánh tráng An Bình. Trong số các sản phẩm nổi bật được
            ưa chuộng như Bánh tráng Mè nướng, Bánh tráng nướng Tôm cay..vv thì Bánh tráng nướng&nbsp;Dừa Sữa được yêu thích nhất vì hương&nbsp;vị truyền thống đậm nét Việt.
        </p>
        <p>Cá cơm hoa Chuối kho tiêu chay là sản phẩm bán chạy nhất và mang hương vị đặc trưng rất riêng nhất của An Bình Foods. Chinh phục thực khách khó tính nhất từ vị ngon và sự tiện lợi.</p>
        <p>Song khoai Ngũ vị một cái tên mà khi nhắc tới ắt hẳn mọi thực khách đều khó quên do hương vị đặc biệt và tên gọi ấn tượng của sản phẩm.</p>
        <p>Ngoài ra chúng tôi còn có Khô Bò chay sả ớt, Sườn chay sấy Mè cũng được nằm trong danh sách món ăn ưa thích của giới trẻ.</p>
        <p style="text-align: center;"><img src="//file.hstatic.net/200000201045/file/img_1794_2e2339b06fdc4bf988a7dda93f0c4615_grande.jpg" /></p>
        <h3>
            <em><strong>Rau củ quả muối chua (Vegan Pickle Products)</strong></em>
        </h3>
        <p>Hương vị thuần Việt và tiếp thu tinh hoa ẩm thực từ văn hóa quốc tế làm nên điểm khác biệt của dòng sản phẩm Rau củ quả muối chua với: Mắm Thái chay, Kim chi, Dưa mắm chay..vv.</p>
        <p style="text-align: center;"><img src="//file.hstatic.net/200000201045/file/img_1821_0f267762512043ba9956ae45a41c8759_grande.jpg" /></p>
        <h3>
            <em><strong>Rau củ quả sơ chế (Vegetable Products)</strong></em>
        </h3>
        <p>Với tiêu chí 100% từ nguyên liệu tươi loại 1 không pha trộn, bảo quản theo các phương pháp tự nhiên truyền thống, tuyệt đối không sử dụng hóa chất và phụ gia thực phẩm trong quá trình sản xuất.</p>
        <p>Nổi bật tiêu biểu&nbsp;là các sản phẩm Rong sụn biển, Rong biển khô.</p>
        <p>Với Hỗn hợp củ quả sấy khô bao gồm: đu đủ, cà rốt, củ cải, ớt để các bạn có thể làm nguyên liệu muối chua, làm dưa món hoặc vô cùng tiện lợi khi có thể thay thế củ quả tươi khi nấu ăn.</p>
        <p>Khổ Qua sấy khô là sản phẩm vừa có công dụng để nấu nước mát giải nhiệt cho cơ thể,cải thiện đường huyết, phòng ngừa xơ vữa động mạch mà còn vừa để nấu các món ăn thơm ngon từ khổ qua.</p>
        <p>Thực phẩm chay đông lạnh ( Frozen Vegetable Meals)</p>
        <p>
            Gồm đa dạng các món ngon thuần chay mang đậm hương vị Việt được chế biến sẵn, tiện dụng trong cả thực đơn hằng ngày và đãi tiệc. Cam kết 100% nguyên liệu có đầy đủ chứng nhận nguồn gốc, áp dụng công nghệ chế biến hiện đại, đảm
            bảo chất lượng và giá trị dinh dưỡng của thực phẩm.
        </p>
        <p style="text-align: center;"><img src="//file.hstatic.net/200000201045/file/rau_cu_qua_so_che_0bc82b0465f145a8bdf21ef652a81ec1_grande.png" /></p>
        <hr />
        <h2>Sứ mệnh đặc biệt của An Bình Market&nbsp;</h2>
        <h3>
            <em><strong>Đối với khách hàng</strong></em>
        </h3>
        <p>
            Hai từ “An Bình” khi khách hàng thân thương sẽ cảm nhận được từ tâm hồn lẫn thể chất khi sử dụng các sản phẩm là mong muốn lớn nhất mà chúng tôi truyền tải. Và song song với đó là những sứ mệnh đặc biệt giúp mọi cá thể trong
            cuộc sống cảm nhận giá trị của sức khỏe khi:
        </p>
        <ul>
            <li>Bổ sung dinh dưỡng tự nhiên (Fresh Foods)</li>
            <li>Thơm ngon một hương vị Việt (Tasty Vegan)</li>
            <li>Tăng cường sức khỏe thể chất (Eat Clean)</li>
        </ul>
          <h3>
            <em><strong>Giá trị về sức khỏe của An Bình Market</strong></em>
        </h3>
        <p>Với sự thấu hiểu sức khỏe là Vàng đối với chất lượng cuộc sống, những con số không vô cùng giá trị trong sản phẩm của An Bình:</p>
        <ul>
            <li>Non Borate: Không chứa hàn the</li>
            <li>No Preservatives: Không có chất bảo quản</li>
            <li>No Food additive: Không phụ gia thực phẩm</li>
        </ul>
        <h3>
            <em><strong>10 Cam kết Vàng trong từng sản phẩm An Bình Market:</strong></em>
        </h3>
        <ol>
            <li>Nguồn gốc xuất xứ nguyên - nhiên liệu sạch tự nhiên</li>
            <li>Đạt mọi tiêu chuẩn an toàn vệ sinh thực phẩm trong và ngoài nước</li>
            <li>Sản phẩm hướng về lợi ích sức khỏe cộng đồng</li>
            <li>Hạn sử dụng, nhãn rõ ràng chính xác từng mẫu sản phẩm</li>
            <li>Quy trình chuyên nghiệp từ hạt giống đến bữa cơm gia đình</li>
            <li>Đa dạng từ mẫu mã cho đến 50 loại sản phẩm</li>
            <li>Thương hiệu uy tín về sản phẩm và con người</li>
            <li>Vận chuyển từ trong nước đến quốc tế nhanh chóng</li>
            <li>Chăm sóc, giải đáp, hướng dẫn tận tình mọi thắc mắc</li>
            <li>Đánh giá từ người tiêu dùng là thước đo giá trị lớn nhất</li>
        </ol>
       </div>
</div>
