@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <link href="~/css/custom/error.css" rel="stylesheet" />
}

<section class="error-part">
    <div class="container">
        <h1>404 | Nội dung không tồn tại</h1>
        <h3>Lỗi! Trang bạn truy cập không tồn tại!</h3>
        <p>Vui lòng quay lại trang chủ và thông báo cho chúng tôi!</p>
    </div>
</section>

