
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section recent-part">
    <div class="container bg-white py-4 my-2">
        <div class="row">
            <h3 class="title-introduce">Mục tiêu của chúng tôi là nuôi dưỡng sức khoẻ của con người & hành tinh</h3>
            <hr />
        </div>
        <div class="row">
            <h5 class="title2-introduce">AnBinh Market is one of the biggest healthy, organic and natural food suppliers.</h5>
            <p class="mb-3">
                We seek out the finest healthy, natural and organic foods available, maintain the strictest quality standards in the industry.
                Our purpose is to use the power of food to build health for people & the planet.
                We strive to provide our customers with the best experience and products every day, while working toward the greater good and the health of people, community and environment.
            </p>
            <p>
                AnBinh Market là một trong những chuỗi cửa hàng thực phẩm hữu cơ, tự nhiên, tốt cho sức khoẻ lớn.
                Chúng tôi tìm kiếm những sản phẩm tốt nhất cho sức khoẻ, tự nhiên & hữu cơ, đảm bảo các tiêu chuẩn chất lượng nghiêm ngặt của ngành.
                Mục tiêu của chúng tôi là nuôi dưỡng sức khoẻ của con người & hành tinh.
                Mỗi ngày, chúng tôi nỗi lực phục vụ khách hàng với dịch vụ & sản phẩm tốt nhất bằng cách làm việc với mục tiêu là những sản phẩm tốt hơn, sức khoẻ tốt hơn cho con người, cộng đồng và môi trường.
            </p>
            <ul>

                <h6 class="title-store">Store locations | Địa chỉ cửa hàng: </h6>
                <li> &nbsp FM1: Số 18 Minh Khai, Hà Nội</li>
                <li> &nbsp FM2: Số 59 Hoàng Hoa Thám, Ba Đình, Hà Nội</li>
                <li> &nbsp FM3: 486 Nguyễn Thị Thập, Phường Tân Quy, Quận 7 </li>
                <li> &nbsp FM4: 218 Phan Xích Long, Phường 2, Phú Nhuận</li>
            </ul>
        </div>
    </div>
</section>
